.metric scale trough highlight {
   all: unset;
   background-color: #e5d0a9;
   color: #0b0910;
   border-radius: 10px;
}
.metric scale trough {
   all: unset;
   background-color: #2a2d3a;
   border-radius: 50px;
   min-height: 5px;
   min-width: 50px;
   margin-left: 10px;
   margin-right: 20px;
}
