.w0, .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09, .w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  padding: 4px 10px 0px 10px;
  box-shadow: inset 0 -2px transparent;
  font-size: 15px;
}

.w0 {
  color: #b8a082;
}
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
  color: #dcdcdc;
}

.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  color: #dcdcdc;
  box-shadow: inset 0px 2px #f58b3c;
}
.workspace {
  padding: 0 5px;
}

.workspace button:hover {
  box-shadow: inset 0px 2px #e5d0a9;
}
